{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for item in site.navigation_header %}

      {% if item[1] contains '://' %}
        {% assign url = item[1] %}
      {% else %}
        {% assign url = item[1] | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item[1] == page.url %}  item--current{% endif %}">
        <a href="{{ url }}">{{ item[0] }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<template id="buttontoggle">
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</template>

<script type="text/javascript">

const nav = document.querySelector('.nav');
const buttonTemplate = document.querySelector('#buttontoggle');
const button = document.importNode(buttonTemplate.content, true);
nav.appendChild(button);
  const navList = document.querySelector('.list--nav');
  const navButton = document.querySelector('.button');
  if (document.body.clientWidth < 640) {
    navList.style.display = 'none';
  } else {
    navList.style.display = 'block';
  }
  window.addEventListener('resize', () => {
    if (document.body.clientWidth < 640) {
      navList.style.display = 'none';
    } else {
      navList.style.display = 'block';
    }
  });
  navButton.onclick = () => {
    if (navList.style.display === 'none') {
      navList.style.display = 'block';
    } else {
      navList.style.display = 'none';
    }
  };

</script>
